<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= render 'shared/error_messages' %>
    <%= form_tag users_path do %>
      
      <%= label_tag 'user[name]', 'Name' %>
      <%= text_field_tag 'user[name]' %>
      
      <%= label_tag 'user[email]', 'Email address' %>
      <%= text_field_tag 'user[email]' %>

      <%= label_tag 'user[password]', 'Password' %>
      <%= password_field_tag 'user[password]' %>

      <%= label_tag 'user[password_confirmation]', 'Confirmation' %>
      <%= password_field_tag 'user[password_confirmation]' %>
      
      <%= submit_tag "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
